/* 在对文本进行两端对齐处理时，需要调整单词的间距，此时会出现“单词孤岛”现象。这个结果不仅看起来很糟糕，而且损伤了可读性。
在打印媒介中，两端对齐总是与连字符断行相辅相成的（英文）。因为连字符允许单词在音节分界处断开并折行，所以在处理对齐时所需
要调整的间距就少得多了，文本看起来也自然很多。 */
/* CSS 文本（第三版）引入了一个新的属性 hyphens。它接受三个值：none、manual 和 auto。manual 是它的初始值，其行为正好对应了现有的
工作方式：我们可以在任何时候手工插入软连字符，来实现断词折行的效果。很显然 hyphens: none; 会禁用这种行为；而最为神奇的是，只需这短
短一行 CSS 就可以产生我们梦寐以求的效果 */
.root { 
  width: 200px;
  height: 200px;
  hyphens: auto;
}

/* 如果需要更细粒度地控制连字符的行为（比如在简短的引文中），你仍然可以通过一些软连字符（&shy;）来辅助浏览器进行断词。这个 hyphens
属性会优先处理它们，然后再去计算其他可以断词的地方 */