/* background */
.root {
  width: 100px;
  height: 100px;
}

/* 1.background-repeat （图片的尺寸是133px左右）*/
.root-father {
  width: 300px;
  height: 300px;
  /* 默认覆盖整个背景图片所在的区域. 最后一个图像会被裁剪, 如果它的大小不合适的话 */
  background: url(./OET.jpg);
  /*
   space:图像会尽可能得重复, 但是不会裁剪，第一个和最后一个图像会被固定在元素(element)的相应的边上
   round:被重复的图像将会伸展(没有空隙)(chrome中空隙多了就会加图，少了就会放大图并占满(300px时是4张，350px时是6张))
  */
  /* background: space url(./OET.jpg); */
  /* width: 350px;
  height: 350px; */
  /* background: round url(./OET.jpg); */
}

/* 2.background-clip */
.root {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin: 15px;
  border: 10px dotted black;
  /* 默认就是border-box,在边框范围内，他会透出自己盒子里所有的背景，而不会透出盒子外的背景 */
  /* background: round border-box greenyellow; */
  /* padding-box,与👆相反，在边框范围内，他会透出自己盒子外的背景，而不会透出盒子里的背景 */
  /* background: round padding-box greenyellow; */
  /* content-box,他会 *不仅仅 在边框范围内透出自己盒子外的背景，还会在内边距里透出外部的背景 */
  background: round content-box greenyellow;
}

/* 3.background-size */
.root-father {
  width: 700px;
  height: 300px;
  /* 如果要直接使用简写属性必须在bg-position后加/然后写 */
  /* background: 10px 20px / 100px url(./OET.jpg); */
  /* 这样写会直接占满？保持图像的宽高比例，可能背景区部分空白，其他部分遵循repeat */
  background: 0 / contain no-repeat url(./OET.jpg) bisque;
  /* background-repeat: no-repeat; */

  /* cover 保持图像的宽高比例，可能背景图片部分看不见 */
  background: 0 / cover url(./OET.jpg) bisque;
  /* background: cover url(./OET.jpg); */
  /* background-size: contain; */
  /* background: round cover url(./OET.jpg); */
}