/* background */

/* 3.background-position */
.test {
  width: 300px;
  height: 300px;
  /* 可以这样写👇 */
  /* background: url(./OET.jpg) greenyellow no-repeat top; */
  /* 这样写不可👇 */
  /* background: url(./OET.jpg) greenyellow no-repeat top 20px; */
  /* 正确是拆成下面两条 */
  background: url(./image/OET.jpg) greenyellow no-repeat;
  background-position: right 10px top 5px;
  /* 还可以设百分比 */
  background-position: right 100% top 10%;
  /* 直接输入数字则默认left 和 top */
  background-position: 10px 10px;
  /* top right是相对什么而言的？ */
  /* 边距依然是10👇 */
  padding: 10px;
  border: grey dashed 10px;
  /* 加上边距变成20px了 */
  /* 结论：是以padding-box为定位基准的 */
  /* ps：background-origin可以修改这一默认行为 */
}