/* 假设我们有一条基本的垂直线性渐变 */
.root {
  width: 200px;
  height: 200px;
  background: linear-gradient(#fb3, #58a);
}
/* 现在，让我们试着把这两个色标拉近一点 */
.root {
  width: 200px;
  height: 200px;
  background: linear-gradient(#fb3 20%, #58a 80%);
}
/* 现在容器顶部的 20% 区域被填充为 #fb3 实色，而底部 20% 区域被填充为 #58a 实色。真正的渐变只出现在容器 60% 的高度区域。如果我们
把两个色标继续拉近（分别改为 40% 和 60%），那真正的渐变区域就变得更窄了。你是不是开始好奇，如果我们把两个色标重合在一起，
会发生什么？ */
.root {
  width: 200px;
  height: 200px;
  /* background: linear-gradient(#fb3 40%, #58a 60%); */
  background: linear-gradient(#fb3 50%, #58a 50%);
}
/* 如果多个色标具有相同的位置，它们会产生一个无限小的过渡区域，
过渡的起止色分别是第一个和最后一个指定值。从效果上看，颜色会在那
个位置突然变化，而不是一个平滑的渐变过程。” */