/* 有时我们想把一幅图案或图片应用为边框，而不是背景。不仅如此，我们还希望这个元素的尺寸在扩大或缩小时，这幅图片都可以自动延伸并覆盖完
整的边框区域。用 CSS 如何做到这一点呢？ */
/* 这个时候，你的脑子里可能会有一个声音跳出来高声尖叫：“borderimage ！用 border-image ！只要有 border-image，这根本就不是一个问
题！”先别急，年轻人。我们先来回忆一下 border-image 是如何工作的。 */
/* 它的原理基本上就是九宫格伸缩法：把图片切割成九块，然后把它们应用到元素边框相应的边和角。 */
.root {
  width: 150px; 
  height: 120px;
  padding: 20px;
  border: 15px solid transparent ;
  border-image: url(./2.8图像边框.jpg) 30;
}

/* 就算我们针对特定的元素宽高和边框厚度找到了切割位置，这个结果也无法适配尺寸稍有差异的其他元素。问题在于，我们并不想让图片的某个特定部分固定在拐
角处；而是希望出现在拐角处的图片区域是随着元素宽高和边框厚度的变化
而变化的。只要你稍微尝试一下，就会立即得出结论：这用 border-image
是不可能做到的。接下来我们该怎么办？
 */